
.contact-info {
    position: relative;
    width: 100%;

    .name {
        display: inline;
        position: relative;
        left: -1px;
    }

    .contact-methods {
        position: absolute;
        top: 3px;
        right: 0;
        left: 0;
        overflow: hidden;

        .contact-method {
            text-align: right;
            white-space: nowrap;

            @media print, screen and (min-width: 450px) {
                &:nth-child(odd) {
                    float: right;
                }
            }

            a {
                line-height: 19px;

                @media only screen and (max-width: 350px) {
                    visibility: hidden;

                    &:after {
                        visibility: visible;
                        content: attr(data-content-narrow);
                    }
                }
            }
        }

        .contact-method {


        }
    }

    .address {
        display: none;
    }
}
