<!DOCTYPE html>
<html lang="en" ng-app="ca.nicolasporter.resume">
  <head>
    <title>Nicolas Porter | Resume</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta charset="utf-8"/>
    <link href="assets/css/default.css" rel="stylesheet"/>
    <script src="assets/js/libs/angular.js"></script>
    <script src="assets/js/libs/lodash.js"></script>
    <script src="assets/js/libs/zepto.js"></script>
    <script src="assets/js/app/app.js"></script>
    <script src="assets/js/app/services/experiences-service.js"></script>
    <script src="assets/js/app/services/technologies-service.js"></script>
    <script src="assets/js/app/services/github-service.js"></script>
    <script src="assets/js/app/services/data-service.js"></script>
    <script src="assets/js/app/controllers/main-controller.js"></script>
    <script src="assets/js/app/controllers/experiences-controller.js"></script>
    <script src="assets/js/app/controllers/technologies-controller.js"></script>
    <script src="assets/js/app/directives/task-directive.js"></script>
  </head>
  <body ng-controller="MainController">
    <header>
      <article class="contact-info vcard">
        <h1 class="name fn">Nicolas Porter</h1>
        <h2 class="title">Full Stack Web Developer</h2>
        <div class="address adr">
          <div class="street-address">1911 Venus Avenue</div>
          <div class="locality">Ottawa</div>
          <div class="region">ON</div>
          <div class="postal-code">K4A 4H5</div>
          <div class="country">Canada</div>
        </div>
        <ul class="contact-methods list-unstyled">
          <li class="contact-method contact-method-github"><a target="_blank" href="https://github.com/surjikal" data-content-narrow="github">github.com/surjikal</a></li>
          <li class="contact-method contact-method-email"><a href="mailto:&#121;&#111;&#064;&#110;&#105;&#099;&#111;&#108;&#097;&#115;&#112;&#111;&#114;&#116;&#101;&#114;&#046;&#099;&#097;" data-content-narrow="email" class="email">&#121;&#111;&#064;&#110;&#105;&#099;&#111;&#108;&#097;&#115;&#112;&#111;&#114;&#116;&#101;&#114;&#046;&#099;&#097;</a></li>
          <li class="contact-method contact-method-twitter"><a target="_blank" href="https://twitter.com/surjikal" data-content-narrow="twitter">twitter.com/surjikal</a></li>
          <li class="contact-method contact-method-phone"><a href="tel:16134132048" data-content-narrow="telephone" class="tel">+1 613 413 2048</a></li>
        </ul>
      </article>
    </header>
    <section ng-controller="TechnologiesController" ng-class="{selected: selectedTechnologies.length}" class="technologies">
      <h1>Technologies</h1>
      <ul ng-repeat="group in technologies">
        <li ng-repeat="technology in group" ng-class="{selected: selectedTechnologies.indexOf(technology) !== -1}" class="technology">{{technology}}</li>
      </ul>
    </section>
    <section ng-controller="ExperiencesController" class="experiences">
      <article ng-repeat="experience in experiences" class="experience">
        <header ng-mouseenter="setSelectedTechnologies(getTechnologies(experience))" ng-mouseleave="setSelectedTechnologies([])">
          <h1 class="location">{{experience.location}}</h1>
          <h2 class="position">{{experience.position}}</h2>
        </header>
        <ul class="terms list-unstyled">
          <li ng-repeat="term in experience.terms" ng-mouseenter="setSelectedTechnologies(term.technologies)" ng-mouseleave="setSelectedTechnologies([])" class="term">
            <div class="duration">
              <div class="start">{{term.duration.start}}</div>
              <div class="stop">{{term.duration.stop}}</div>
            </div>
            <ul class="tasks">
              <li ng-repeat="task in term.tasks" class="task">{{task.description || task}}</li>
            </ul>
          </li>
        </ul>
      </article>
    </section>
    <section class="projects">
      <h1>Projects &amp; Hobbies</h1>
      <ul class="list-unstyled">
        <li class="project">
          <h2><a href="https://www.github.com/surjikal">Component-based Game Object System</a></h2>
          <p>
            Implemented a component-based game object system in C++ &amp; QT
            that featured an embedded JavaScript editor which allowed you to
            create or modify game objects while your game is running.
          </p>
        </li>
        <li class="project">
          <h2><a href="https://www.youtube.com/watch?v=1JBkkSuvGRk">Sketchy</a></h2>
          <p>A puzzle game where you indirectly control a stickman by drawing on the game world.</p>
        </li>
        <li class="project">
          <h2><a href="https://soundcloud.com/surjikal">Music Production</a></h2>
          <p>Electric guitar player (~10 years), electronic music composition (Reason, Live, Cubase).</p>
        </li>
      </ul>
    </section>
    <section class="education">
      <h1>Education</h1>
      <div class="degree">Bachelor of Computer Science<span class="graduation"> 2013</span></div>
      <div class="location">Carleton University, Ottawa, Canada</div>
    </section>
  </body>
</html>