
* {
    // Prevents the 'save image' dialog when a user holds a link or image
    -webkit-touch-callout: none;

    // Prevents link highlighting
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;

    // Prevent safari from resizing our text
    -webkit-text-size-adjust: none;

    // Making the box model not suck
    @include box-sizing(border-box !important);
}

// This prevents chrome from adding some weird spacing after parent ul...
ul {
    line-height: 0;
    display: block;
    vertical-align: top;
}
// ... but we need to restore the line height of the children :(
.technologies li {
    line-height: 1;
}
