
html, body {
    min-height: 100%;
    width: 100%;
}

html {
    max-width: 700px;
    margin: 0 auto;
}

body {
    padding: 20px;

    & > header {
        width: 100%;
    }

    .content > section {
        margin: 30px 0;
    }
}


.experiences .experience > header,
.projects > h1,
.technologies > h1 {
    margin-bottom: 10px;
}
