
@media print {

    html, body {
        margin: 0.5cm auto;
        width: 6.5in;
    }

    .projects {
        page-break-before: always;
        padding-top: 2cm;
    }

    @page {
        margin: 1in;
    }

    .duration {
        color: #444;
    }

    li:before {
        color: #444;
    }

    header, h1 {
        border: none !important;
    }

    a {
        color: black;
        border: none;
    }

    .duration {
        font-size: 10px;
        font-style: italic;
    }

    .projects {

        h2 {
            font-size: 14px;
        }
    }
}