
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:400,500,600,700);

$font-color-normal:    hsl(  0,   0%, 90%);
$font-color-highlight: hsl(240, 100%, 80%);


body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 13px;

    background: hsl(0, 0%, 15%);
    color: $font-color-normal;
}

a, a:after {
    text-decoration: none;
    color: $font-color-highlight;
    border-bottom: 1px dotted rgba($font-color-highlight, 0.4);

    &:hover {
        $color: lighten($font-color-highlight, 15%);
        border-bottom: 1px dotted rgba($color, 0.3);
        color: $color;
    }
}

ul > li {
    list-style: none;

    // Fixes bad indentation on content wrap
    padding-left: 1em;
    text-indent: -1em;

    &:before {
        content: 'â¯';
        color: #666;
        font-size: 9px;
        padding-right: 6px;
        padding-left: 2px;
        position: relative;
        top: -1px;
    }
}

ul.list-unstyled > li {
    padding-left: 0;
    text-indent: 0;

   &:before {
        content: '';
        position: static;
    }
}

.name {
    font-weight: 400;
    font-size: 32px;
}

.title {
    font-weight: 300;
}

.content {

    h1 {
        font-size: 18px;
        font-weight: 300;
    }

    h2 {
        font-weight: 200;
        font-size: 15px;
    }
}

.contact-method {
    font-size: 12px;
}

// Prevents mouse cursor flickering from `normal` to `text`
.technologies, .experience {
    cursor: text;
}

.experience header, .technologies h1, .projects h1, .education h1 {
    border-bottom: 1px solid #333;
}

.experience {

    header, .duration {
        @include transition(color 0.5s);
    }

    .duration {
        color: #777;
        font-size: 12px;
    }

    .term {
        font-size: 13px;
    }

    &:hover header {
        color: $font-color-highlight;
    }
}

.experience:hover .term:only-child .duration,
.term:hover .duration {
    color: rgba($font-color-highlight, 0.7);
}


.technology {
    @include transition(color 0.5s);

    &.selected {
        color: $font-color-highlight;
    }
}

.education {

    .degree {
        font-size: 15px;
    }

    .location {
        font-size: 12px;
        // color: #777;
        font-style: italic;
    }
}
