
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);


$background-color: hsl(216, 20%, 95%);

@function fake-rgba($color, $alpha) {
    @return _fake-rgba($background-color, $color, $alpha);
}

$font-color-highlight: hsl(200, 80%, 45%);
$font-color-normal:    darken($font-color-highlight, 20%);
$font-color-dark:      fake-rgba($font-color-normal, 0.5);
$font-color-darker:    fake-rgba($font-color-dark,   0.3);

$anchor-color-normal: darken($font-color-highlight, 20%);
$anchor-color-hover:  $font-color-highlight;

$anchor-border-normal: 1px dotted fake-rgba($anchor-color-normal, 0.2);
$anchor-border-hover:  1px dotted fake-rgba($anchor-color-hover,  0.4);


html {
    font-size: 10px;
}

body {
    @include font-size(13);
    // @include text-shadow(0px 1px 0px rgba(white, 0.5));
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;

    background: $background-color;
    color: $font-color-normal;
}

a, a:after {
    border-bottom: $anchor-border-normal;
    color: $anchor-color-normal;

    &:hover {
        border-bottom: $anchor-border-hover;
        color: $anchor-color-hover;
    }
}

ul > li {
    // Fixes bad indentation on content wrap
    padding-left: 10px;
    text-indent: -13px; // Why 13px? Not sure, but it works!
    @include transition(color 0.5s);

    &:before {
        @include transition(color 0.5s);
        content: 'â¯';
        color: $font-color-dark;
        @include font-size(9);
        padding-right: 6px;
        padding-left: 2px;
        position: relative;
        top: -1px;
    }
}

ul.list-unstyled > li {
    padding-left: 0;
    text-indent: 0;

   &:before {
        content: '';
        position: static;
    }
}

h1 {
    @include font-size(18);
    font-weight: 400;
}

h2 {
    @include font-size(15);
    font-weight: 300;
}

.name {
    @include font-size(32);
}

.contact-method a {
    @include font-size(12);
}

// Prevents mouse cursor flickering from `normal` to `text`
.technologies, .experience {
    cursor: text;
}

.experience header,
.technologies h1,
.projects h1,
.education h1 {
    line-height: 1.3;
    // border-bottom: 1px inset $font-color-darker;
}

.experience {

    header, .duration, h1, h2, .task:before {
        @include transition(color 0.5s, border-bottom-color 0.5s);
    }

    .duration {
        color: $font-color-dark;
        @include font-size(12);
        font-style: italic;
    }

    .term {
        @include font-size(13);
    }

    &:hover {
        h1, h2, .term:hover .task:before {
            color: $font-color-highlight;
        }
        header {
            border-bottom-color: fake-rgba($font-color-highlight, 0.3);
        }
    }
}

.experience:hover .term:only-child .duration,
.experience:hover .term:only-child .task:before,
.term:hover .duration {
    color: fake-rgba($font-color-highlight, 0.9);
}

.technologies {

    &.selected .technology {
        color: fake-rgba($font-color-normal, 0.5);
    }

    .technology {
        line-height: 1;
        @include transition(color 0.5s);

        &.selected, &.selected:before {
            color: $font-color-highlight;
        }
    }
}


.education {

    .degree {
        @include font-size(15);
    }

    .graduation {
        color: $font-color-dark;
        float: left;
        margin-right: 15px;
    }

    .location {
        @include font-size(12);
        font-style: italic;
    }
}


.projects {
    h2 {
        @include font-size(13);
        line-height: 1.3;
    }
}