@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../../../src/styles/lib/_reset.scss */
* {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  -webkit-text-size-adjust: none;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

/* line 18, ../../../src/styles/lib/_reset.scss */
a {
  text-decoration: none;
}

/* line 24, ../../../src/styles/lib/_reset.scss */
ul {
  line-height: 0;
  display: block;
  vertical-align: top;
}

/* line 30, ../../../src/styles/lib/_reset.scss */
li {
  list-style: none;
}

@media print {
  /* line 36, ../../../src/styles/lib/_reset.scss */
  * {
    color: black !important;
    background: transparent !important;
    text-shadow: none !important;
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
  }
}
@media not screen {
  /* line 3, ../../../src/styles/lib/_utils.scss */
  .screen-only {
    display: none;
  }
}
/* line 2, ../../../src/styles/_layout.scss */
html, body {
  min-height: 100%;
  width: 100%;
}

/* line 7, ../../../src/styles/_layout.scss */
html {
  margin: 0 auto;
}

/* line 11, ../../../src/styles/_layout.scss */
body {
  max-width: 700px;
  padding: 20px;
  margin: 0 auto;
}
/* line 17, ../../../src/styles/_layout.scss */
body > header {
  width: 100%;
}
/* line 21, ../../../src/styles/_layout.scss */
body section {
  margin: 20px 0;
}

/* line 26, ../../../src/styles/_layout.scss */
.projects > h1, .technologies > h1 {
  margin-bottom: 10px;
}

/* line 30, ../../../src/styles/_layout.scss */
.experiences .term:first-child {
  padding-top: 10px;
}

/* line 34, ../../../src/styles/_layout.scss */
.content .experiences {
  margin-top: 0;
}

/* line 23, ../../../src/styles/_theme.scss */
html {
  font-size: 10px;
}

/* line 27, ../../../src/styles/_theme.scss */
body {
  font-size: 13px;
  font-size: 1.3rem;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  background: #f0f2f5;
  color: #0d5173;
}

/* line 37, ../../../src/styles/_theme.scss */
a, a:after {
  border-bottom: 1px dotted #c2d1db;
  color: #0d5173;
}
/* line 41, ../../../src/styles/_theme.scss */
a:hover, a:after:hover {
  border-bottom: 1px dotted #99cbe5;
  color: #1791cf;
}

/* line 47, ../../../src/styles/_theme.scss */
ul > li {
  padding-left: 10px;
  text-indent: -13px;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 53, ../../../src/styles/_theme.scss */
ul > li:before {
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  content: '❯';
  color: #7ea1b4;
  font-size: 9px;
  font-size: 0.9rem;
  padding-right: 6px;
  padding-left: 2px;
  position: relative;
  top: -1px;
}

/* line 65, ../../../src/styles/_theme.scss */
ul.list-unstyled > li {
  padding-left: 0;
  text-indent: 0;
}
/* line 69, ../../../src/styles/_theme.scss */
ul.list-unstyled > li:before {
  content: '';
  position: static;
}

/* line 75, ../../../src/styles/_theme.scss */
h1 {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 400;
}

/* line 80, ../../../src/styles/_theme.scss */
h2 {
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: 300;
}

/* line 85, ../../../src/styles/_theme.scss */
.name {
  font-size: 32px;
  font-size: 3.2rem;
}

/* line 89, ../../../src/styles/_theme.scss */
.contact-method a {
  font-size: 12px;
  font-size: 1.2rem;
}

/* line 94, ../../../src/styles/_theme.scss */
.technologies, .experience {
  cursor: text;
}

/* line 101, ../../../src/styles/_theme.scss */
.experience header,
.technologies h1,
.projects h1,
.education h1 {
  line-height: 1.3;
}

/* line 109, ../../../src/styles/_theme.scss */
.technologies.selected .technology {
  color: #7ea1b4;
}
/* line 113, ../../../src/styles/_theme.scss */
.technologies .technology {
  line-height: 1;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 117, ../../../src/styles/_theme.scss */
.technologies .technology.selected, .technologies .technology.selected:before {
  color: #1791cf;
}

/* line 126, ../../../src/styles/_theme.scss */
.experience header, .experience .duration, .experience h1, .experience h2, .experience .task:before {
  -webkit-transition: color 0.5s, border-bottom-color 0.5s;
  -moz-transition: color 0.5s, border-bottom-color 0.5s;
  -o-transition: color 0.5s, border-bottom-color 0.5s;
  transition: color 0.5s, border-bottom-color 0.5s;
}
/* line 130, ../../../src/styles/_theme.scss */
.experience .duration {
  color: #7ea1b4;
  font-size: 12px;
  font-size: 1.2rem;
  font-style: italic;
}
/* line 136, ../../../src/styles/_theme.scss */
.experience .term {
  font-size: 13px;
  font-size: 1.3rem;
}
/* line 141, ../../../src/styles/_theme.scss */
.experience:hover h1, .experience:hover h2, .experience:hover .term:hover .task:before {
  color: #1791cf;
}
/* line 144, ../../../src/styles/_theme.scss */
.experience:hover header {
  border-bottom-color: #aed4e9;
}

/* line 153, ../../../src/styles/_theme.scss */
.experience:hover .term:only-child .duration,
.experience:hover .term:only-child .task:before,
.term:hover .duration {
  color: #2c9ad2;
}

/* line 160, ../../../src/styles/_theme.scss */
.education .degree {
  font-size: 15px;
  font-size: 1.5rem;
}
/* line 164, ../../../src/styles/_theme.scss */
.education .graduation {
  color: #7ea1b4;
  float: left;
  margin-right: 15px;
}
/* line 170, ../../../src/styles/_theme.scss */
.education .location {
  font-size: 12px;
  font-size: 1.2rem;
  color: #7ea1b4;
  font-style: italic;
  line-height: 1.4;
}
/* line 177, ../../../src/styles/_theme.scss */
.education h2 {
  font-size: 12px;
  font-size: 1.2rem;
}
/* line 181, ../../../src/styles/_theme.scss */
.education .awards li {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5;
}

/* line 190, ../../../src/styles/_theme.scss */
.projects h2 {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.3;
}
/* line 195, ../../../src/styles/_theme.scss */
.projects .project li {
  line-height: 1.6;
}
/* line 199, ../../../src/styles/_theme.scss */
.projects p {
  line-height: 1.5;
}

/* line 2, ../../../src/styles/modules/_contact_info.scss */
.contact-info {
  position: relative;
  width: 100%;
}
/* line 6, ../../../src/styles/modules/_contact_info.scss */
.contact-info .name {
  display: inline;
  position: relative;
  left: -1px;
}
/* line 12, ../../../src/styles/modules/_contact_info.scss */
.contact-info .contact-methods {
  position: absolute;
  top: 3px;
  right: 0;
  left: 0;
  overflow: hidden;
}
/* line 19, ../../../src/styles/modules/_contact_info.scss */
.contact-info .contact-methods .contact-method {
  text-align: right;
  white-space: nowrap;
}
@media print, screen and (min-width: 450px) {
  /* line 24, ../../../src/styles/modules/_contact_info.scss */
  .contact-info .contact-methods .contact-method:nth-child(odd) {
    float: right;
  }
}
/* line 29, ../../../src/styles/modules/_contact_info.scss */
.contact-info .contact-methods .contact-method a {
  line-height: 1.5;
}
@media only screen and (max-width: 350px) {
  /* line 29, ../../../src/styles/modules/_contact_info.scss */
  .contact-info .contact-methods .contact-method a {
    visibility: hidden;
  }
  /* line 35, ../../../src/styles/modules/_contact_info.scss */
  .contact-info .contact-methods .contact-method a:after {
    visibility: visible;
    content: attr(data-content-narrow);
  }
}
/* line 49, ../../../src/styles/modules/_contact_info.scss */
.contact-info .address {
  display: none;
}

/* line 2, ../../../src/styles/modules/_skills.scss */
.skills {
  overflow: hidden;
}
/* line 5, ../../../src/styles/modules/_skills.scss */
.skills .skill {
  display: inline-block;
  width: 32%;
  float: left;
}
/* line 10, ../../../src/styles/modules/_skills.scss */
.skills .skill:not(:last-child) {
  margin-right: 2%;
}

/* line 2, ../../../src/styles/modules/_technologies.scss */
.technologies {
  overflow: hidden;
}
/* line 5, ../../../src/styles/modules/_technologies.scss */
.technologies ul {
  display: inline-block;
  width: 25%;
  float: left;
}
@media only screen and (max-width: 450px) {
  /* line 5, ../../../src/styles/modules/_technologies.scss */
  .technologies ul {
    min-width: 50%;
  }
}
/* line 14, ../../../src/styles/modules/_technologies.scss */
.technologies ul li {
  margin-bottom: 8px;
}

/* line 6, ../../../src/styles/modules/_experiences.scss */
.experiences .experience:first-child header {
  padding: 0;
}
/* line 10, ../../../src/styles/modules/_experiences.scss */
.experiences .experience header {
  padding: 30px 0 0 0;
  position: relative;
}
/* line 18, ../../../src/styles/modules/_experiences.scss */
.experiences .experience header .location, .experiences .experience header .position {
  display: inline;
}
/* line 22, ../../../src/styles/modules/_experiences.scss */
.experiences .experience header .location {
  margin-right: 10px;
}
/* line 26, ../../../src/styles/modules/_experiences.scss */
.experiences .experience header .duration {
  line-height: 1;
}
/* line 32, ../../../src/styles/modules/_experiences.scss */
.experiences .experience .duration .start, .experiences .experience .duration .stop {
  display: inline;
}
/* line 36, ../../../src/styles/modules/_experiences.scss */
.experiences .experience .duration .start:after {
  content: ' –';
  margin: 0 5px;
}
/* line 42, ../../../src/styles/modules/_experiences.scss */
.experiences .experience .term + .term {
  padding-top: 15px;
}
/* line 47, ../../../src/styles/modules/_experiences.scss */
.experiences .experience .term .duration {
  line-height: 1;
  height: 100%;
}
/* line 53, ../../../src/styles/modules/_experiences.scss */
.experiences .experience .task {
  line-height: 15px;
  margin-top: 7px;
}

/* line 4, ../../../src/styles/modules/_projects.scss */
.projects .project {
  display: block;
}
/* line 8, ../../../src/styles/modules/_projects.scss */
.projects .project {
  margin-top: 15px;
}
/* line 11, ../../../src/styles/modules/_projects.scss */
.projects .project ul {
  margin-top: 5px;
}
/* line 16, ../../../src/styles/modules/_projects.scss */
.projects p {
  margin-top: 5px;
}

/* line 4, ../../../src/styles/modules/_education.scss */
.education h1 {
  margin-bottom: 10px;
}
/* line 8, ../../../src/styles/modules/_education.scss */
.education h2 {
  margin-top: 5px;
}
/* line 11, ../../../src/styles/modules/_education.scss */
.education .awards {
  margin-top: 4px;
}

@media print {
  /* line 4, ../../../src/styles/_print.scss */
  html, body {
    margin: 0.5cm auto;
    width: 6.5in;
  }

  /* line 9, ../../../src/styles/_print.scss */
  .projects {
    page-break-before: always;
    padding-top: 2cm;
  }

  @page {
    margin: 1in;
}

  /* line 18, ../../../src/styles/_print.scss */
  .duration {
    color: #444;
  }

  /* line 22, ../../../src/styles/_print.scss */
  li:before {
    color: #444;
  }

  /* line 26, ../../../src/styles/_print.scss */
  header, h1 {
    border: none !important;
  }

  /* line 30, ../../../src/styles/_print.scss */
  a {
    color: black;
    border: none;
  }

  /* line 35, ../../../src/styles/_print.scss */
  .duration {
    font-size: 10px;
    font-style: italic;
  }

  /* line 42, ../../../src/styles/_print.scss */
  .projects h2 {
    font-size: 14px;
  }
}
