
include mixins/asset-mixins
include mixins/asset-mixins-angular

include mixins/utils


!!!
html(lang='en', ng-app='ca.nicolasporter.resume')

  head
    title Nicolas Porter | Resume

    block meta
      include includes/mobile-meta-tags
      meta(charset="utf-8")

    block css
      mixin css("default")

    block js-libs
      mixin js-lib("angular")
      mixin js-lib("lodash")
      mixin js-lib("zepto")

    block app
      mixin app-core("app")

      mixin app-service("experiences")
      mixin app-service("technologies")
      mixin app-service("github")
      mixin app-service("data")

      mixin app-controller("main")
      mixin app-controller("experiences")
      mixin app-controller("technologies")

      mixin app-directive("task")


  body(ng-controller="MainController")

    header
      //- The obscure classes are due to the `vcard` format.
      //- I'm adding extra classes to make this more readable.
      //- See `http://microformats.org/wiki/hcard` for more details
      article.contact-info.vcard

        h1.name.fn
          | Nicolas Porter

        h2.title
          | Full Stack Web Developer

        .address.adr
            .street-address
              | 1911 Venus Avenue
            .locality
              | Ottawa
            .region
              | ON
            .postal-code
              | K4A 4H5
            .country
              | Canada

        ul.contact-methods.list-unstyled

          li.contact-method.contact-method-github: a(
            target="_blank"
          , href="https://github.com/surjikal"
          , data-content-narrow="github")
            | github.com/surjikal

          li.contact-method.contact-method-email: a.email(
            href="mailto:&#121;&#111;&#064;&#110;&#105;&#099;&#111;&#108;&#097;&#115;&#112;&#111;&#114;&#116;&#101;&#114;&#046;&#099;&#097;"
          , data-content-narrow="email")
            | &#121;&#111;&#064;&#110;&#105;&#099;&#111;&#108;&#097;&#115;&#112;&#111;&#114;&#116;&#101;&#114;&#046;&#099;&#097;
            //- yo [at] nicolasporter.ca

          li.contact-method.contact-method-twitter: a(
            target="_blank"
          , href="https://twitter.com/surjikal"
          , data-content-narrow="twitter")
            | twitter.com/surjikal

          li.contact-method.contact-method-phone: a.tel(
            href="tel:16134132048"
          , data-content-narrow="telephone")
            | +1 613 413 2048


    section.technologies(ng-controller="TechnologiesController"
                        ,ng-class="{selected: selectedTechnologies.length}")
      h1 Technologies
      ul(ng-repeat="group in technologies")
        li.technology(ng-repeat="technology in group"
          ,ng-class="{selected: selectedTechnologies.indexOf(technology) !== -1}")
          | {{technology}}


    section.experiences(ng-controller="ExperiencesController")

      article.experience(ng-repeat="experience in experiences")
        header(ng-mouseenter="setSelectedTechnologies(getTechnologies(experience))"
              ,ng-mouseleave="setSelectedTechnologies([])")
          h1.location {{experience.location}}
          h2.position {{experience.position}}

        ul.terms.list-unstyled
          li.term(ng-repeat="term in experience.terms"
                 ,ng-mouseenter="setSelectedTechnologies(term.technologies)"
                 ,ng-mouseleave="setSelectedTechnologies([])")
            .duration
              .start {{term.duration.start}}
              .stop {{term.duration.stop}}
            ul.tasks
              li.task(ng-repeat="task in term.tasks")
                | {{task.description || task}}


    section.projects
      h1 Projects &amp; Hobbies

      ul.list-unstyled

        li.project
          h2: a(href="https://www.youtube.com/watch?v=1JBkkSuvGRk")
            | Sketchy
          p
            | A puzzle game where you indirectly control a stickman by drawing on the game world.

        li.project
          h2: a(href="https://www.github.com/surjikal/cbgos-experiment")
            | Component-based Game Object System Experiment
          p
            | Made a game object system in C++ &amp; QT that features an embedded JavaScript editor
            | to modify game object types at runtime.

        li.project
          h2: a(href="https://soundcloud.com/surjikal")
            | Music
          ul
            li Electric guitar player (~10 years), electronic music composition (Reason, Live, Cubase)
            li Played a couple of live rock shows (solo and with a band)
            li Participated in High School concert (trumpet), jazz and rock bands

        li.project
          h2: a(href="/assets/files/degree-planner.pdf")
            | User Experience Design - Degree Planner
          p
            | Identified personas, conducted stakeholder interviews and created prototypes based on feedback
            | degree planning tool. This was a team project for an HCI class.
            span.screen-only  The linked file shows the final mockup after going through three iterations.

        li.project
          h2: a(href="/assets/files/testing-memorability-gestures.pdf")
            | User Experience Design - Testing the memorability of gesture sets
          p
            | Created a framework that allows you to determine if, for example, a
            | cross is an intuitive gesture to use for a "delete" action.
            | This was also a team project for an HCI class, but the implementation was done by me (using Django).

    section.education
      h1 Education

      article.degree
        .degree-name
          | Bachelor of Computer Science
        .graduation
          | 2013
        .location
          | Carleton University, Ottawa, Canada

        ul.awards
          li Carleton University Entrance Scholarship
          li Chalmers Jack MacKenzie Scholarship
          li Deans' Honour List
